body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(91, 1, 133);
    font-size: 48px;
}

button {
    border-radius: 50px;
    padding: 10px;
    border-color: black;
    border: 1px;
    border-style: solid;
    font-size: 16px;
    color: purple;
    background-color: beige;
    font-weight: bold;
}


table {
    margin-left: auto;
    margin-right: auto;
}


table, td {
    border: 3px solid white;
    border-collapse: collapse;
    background-color: steelblue;
}

td {
    width: 200px;
    height: 200px;
}

#restart_container {
    text-align: center;
    margin: 20px;
    
}

#player_indicator {
    font-size: 30px;
    color: rgb(2, 173, 173);
    text-align: center;
}
